<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        backupGlobals="false"
        backupStaticAttributes="false"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false"
        syntaxCheck="true"
        bootstrap="vendor/autoload.php"
        colors="true">
    <testsuites>
        <testsuite name="Default">
            <directory suffix="Tests.php">./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true"
                   processUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">./</directory>
            <exclude>
                <file>./src/Utility/Compatibility.php</file>
                <directory>./benchmark</directory>
                <directory>./examples</directory>
                <directory>./tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>